.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: block;
}

.content {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
}