:root {
  height: 100vh;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.content:before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: block;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100% 100%;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.6;
}

@keyframes moveDownAnimation {
  100% {
    background-position-y: 100%;
  }
}
.crt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(images/lines.jpg);
  background-size: 10px auto;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.3;
  animation: moveDownAnimation 150s linear infinite;
}
